@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

:root{
    --primary-color: #F43F5E;
    --dark-grey:rgb(54, 50, 50);
    --off-white: rgb(236, 225, 225);
}

body{
    font-family: 'Source Serif 4', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

/* Container */
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin : auto;
}

/* Links */

.link{
    text-decoration: none;
    padding : 0.5rem 1rem;
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    color : white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);
}

/* Lists */

.list-non-bullet{
    list-style: 
    none;
}

.list-item-inLine{
    display: inline;
    padding: 0rem 0.5rem;
}

/* NAV */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 30px;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

/* Header */

.hero{
    padding: 2rem;
}

.hero .hero-image{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding: 2rem;
    color: var(--dark-grey);
    text-align: center;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);

    text-shadow: 2px 5px 5px rgb(155, 153, 153);
}


/* Section */
.section{
    padding: 1rem;
}

.section h1{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

/* Footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    margin: 0.1rem;
}

.footer .link{
    color: white;
}

.footer .footer-heading{
    font-weight: bold;
    font-size: larger;
}

.footer ul{
    padding-inline-start: 0px;
}